h1 {
    color: #ffd700;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    color: #66D9EF;
    font-size: 2.5em;
    text-align: center;
}

h4 {
    color: #FF8C00;
    font-size: 1.3em;
}

p {
    color: #E1E1E1;
    font-size: 1em;
    text-align: center;
}

body {
    background: linear-gradient(#0F1113, #1C1F22);
    background-color: #0F1113;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #3A7CA5;
    color: #E1E1E1;
    border: 1px solid #2E3338;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}


button:hover {
    background-color: #FFD700;
    color: #0F1113;
    transition: 0.3s ease-in-out;
}




.accordion-label, .accordion-sub {
    display: block;
    background-color: #1C1F22;
    color: #E1E1E1;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #66D9EF;
    margin-bottom: 5px;
    position: relative;
}

    .accordion-label::after,
    .accordion-sub::after {
        content: ">";
        position: absolute;
        right: 16px;
        transition: transform 0.2s;
    }

input:checked + .accordion-label::after,
input:checked + .accordion-sub::after {
    content: "v";
}

.accordion-content,
.accordion-subcontent {
    display: none;
    background-color: #0F1113;
    border-left: 2px solid #66D9EF;
    margin-left: 10px;
    padding-left: 10px;
}

input:checked + .accordion-label + .accordion-content,
input:checked + .accordion-sub + .accordion-subcontent {
    display: block;
}

.accordion-subcontent p {
    color: #E1E1E1;
    margin: 8px 0;
    padding-left: 10px;
}




.leaderboard {
    margin-top: 30px;
    background-color: #1C1F22;
    padding: 20px;
    border: 1px solid #66D9EF;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

    .leaderboard h2 {
        color: #FFD700;
        text-align: center;
        margin-bottom: 20px;
    }

    .leaderboard table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        color: #E1E1E1;
    }

    .leaderboard th, .leaderboard td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #2E3338;
    }

    .leaderboard tr:hover {
        background-color: #3A7CA5;
        color: #0F1113;
    }

.gold {
    background-color: rgba(255, 215, 0, 0.1);
}

.silver {
    background-color: rgba(192, 192, 192, 0.1);
}

.bronze {
    background-color: rgba(205, 127, 50, 0.1);
}




.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
